:root {
  --display: none;
}

.container {
  overflow: scroll;
  width: 50%;
  text-align: center;
}

.container::-webkit-scrollbar {
  display: none;
}

.historyCards {
  display: flex;
  justify-content: space-between;
  width: 95%;
  background-color: white;
  padding: 1rem;
  margin: 0.5rem auto;
  border-radius: 3px;
}

.cardComponent {
  display: flex;
  align-items: center;
}

.cardComponent:hover {
  --display: flex;
}

.options {
  display: var(--display);
}

.null {
  font-size: 1rem;
  font-weight: bold;
  color: #2776f5;
}

@media only screen and (max-width: 600px) {
  .container {
    overflow: scroll;
    width: 100%;
    text-align: center;
  }
}
