.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.81);
  margin: 1rem 0px;
  border-radius: 9px;
  width: 50%;
}

.card {
  text-align: center;
  padding: 1.2rem;
  font-size: 1.4rem;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 1rem 0px;
    border-radius: 9px;
    width: 100%;
  }

  .card {
    text-align: center;
    padding: 1.2rem;
    font-size: 1.4rem;
    font-weight: bold;
  }
}
